@font-face {
    font-family: 'Helvetica Neue Cyr Thin';
    src: url('/src/style/fonts/HelveticaNeueCyr-Thin.eot');
    src: url('/src/style/fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('/src/style/fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('/src/style/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica Neue Cyr Thin';
}

.header-container {
    width: 100%;
    height: 120px;

    position: fixed;
    z-index: 1000;

    background-color: white;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 5%);
    color: rgba(0, 0, 0, 0.59);

    display: flex;
    align-items: center;

    transition: all .3s;
}

.header-container__about {
    background-color: transparent;
}

.styledLink__about {
    color: white !important;
}

.styledLink__about:hover {
    color: white !important;
}

.styledLink__about::before {
    background-color: white !important;
}

.customButton__about {
    color: #287ce8 !important;
    background-color: white !important;
}

.header-container__nav-menu {
    margin-left: 24px;
}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

.header-container__nav-menu a {
    max-width: 135px;

    line-height: 1.3;

    margin: 0 13px;
    padding: 14px 13px;

    text-align: center;
}

.styledLink {
    display: block;

    color: inherit;
    font-size: 14px;
    text-decoration: none;

    border-bottom: transparent solid 0.5px;

    transition: all .3s;

    position: relative;
}

.styledLink:hover {
    color: #287ce8;
    text-decoration: none;
}

.styledLink:hover::before {
    transform: scaleX(1);
    transition: transform .3s;
}

.styledLink::before {
    content: '';

    width: 70%;
    height: 1px;

    background-color: #287ce8;

    position: absolute;

    left: 15%;
    bottom: 4px;
    transform: scaleX(0);
    transition: transform .3s;
}

.header-rightSide {
    display: flex;
    align-items: center;

    margin-left: 48px;
}

.links-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-right: 24px;
    margin-left: 48px;

    line-height: 2;
}

.links-container a {
    font-weight: bold;
}

.customButton {
    font-size: 14px;
    font-weight: bold;

    border-radius: 6px;

    margin-left: 24px;
}

.custom-modal-body form {
    width: 80%;

    display: flex;
    flex-direction: column;

    text-align: center;
    margin: 0 auto;
}

.custom-modal-body form div {
    margin-bottom: 12px;
}

.modal-header h5 {
    font-weight: bold;
}

.modal-body button {
    font-weight: bold;
    width: 100%;
    margin-bottom: 12px;
}

.modal-error-text {
    display: flex;
    justify-content: flex-start;
    color: red;
}

.burger-btn {
    display: none;
    width: 30px;
	height: 30px;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.burger-btn span {
    width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #287ce8;
	transition: all 0.5s;
}

.burger-btn span:nth-of-type(2) {
	top: calc(50% - 9px);
}

.burger-btn span:nth-of-type(3) {
	top: calc(50% + 9px);
}

.burger-menu {
    position: fixed;
	top: 12.3%;
	right: 0;
	width: 20%;
	height: 100%;
    background: white;
	transform: translateX(100%);
	transition: transform 0.2s; 
}

.burger-link {
    display: block;

    color: inherit;
    font-size: 14px;
    text-decoration: none;

    transition: all .3s;

    position: relative;

}

.burger-link:hover {
    color: #287ce8;
    text-decoration: none;
}

.burger-list {
    list-style: none;
    padding: 0;
}

.burger-list li {
    width: 100%;
    padding: 12px 24px;
    background-color: none;
    transition: all .3s;
}

.burger-list li:hover {
    background-color: #eef2f8;
}

.burger-menu.active {
    transform: translateX(0);
}

.burger-btn.active span:nth-of-type(1) {
    display: none;
}
.burger-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);  
}
.burger-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
}



@media screen and (min-width: 1700px) {
    .header-rightSide {
        margin-left: 450px;
    }
}

@media screen and (max-width: 1308px) {
    .header-rightSide {
        margin-left: -50px;
    }
}

@media screen and (max-width: 1250px) {
    .header-container__nav-menu {
        display: none;
    }

    .burger-btn {
        margin-left: 200px;
        display: block;
    }

    .header-rightSide {
        margin-left: 50px;
    }
}